html, body{
    min-width: 290px;
    color: #1f2833;
    background-color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1;
}

#navbar{
    position: fixed;
    min-width: 290px;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-right: 3px greenyellow solid;
    background-color: gray ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;

}
#navbar header{
    color: greenyellow;
    font-size: 3rem;
    font-weight: bold;
    padding: 1.5rem 20%;
    border-bottom: greenyellow solid 3px;
}
#navbar a{
    text-decoration: none;
    color: white;
    padding: 3rem 20%;
    transition: 0.3s;
}
#navbar a:hover{
    border-bottom: 3px solid greenyellow;
    background-color: #1f2833;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
.main-section header{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding-bottom: 1rem ;
    font-weight: bold;
    border-bottom: 3px solid greenyellow;
}
code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
@media only screen and (max-width: 815px) {
    #navbar {
        background-color: gray;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }
    #navbar header{
        font-size: medium;
        padding-bottom: 0.5rem;
    }
    #navbar a{
        padding: 7px;
    }
    #main-doc {
        position: relative;
        margin-left: 0;
        margin-top: 270px;
    }
}